html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.navbar {
    border-bottom: 2px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

.child ul{
    list-style-type: none;
}

.child ul li {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.child ul li:hover {
    color: rgb(25, 8, 161); 
    cursor: pointer;
}


.child ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.child ul li a:hover {
    color: rgb(241, 27, 11);
}